.sell-container .input_label{
    font-size: 1.3rem;
    font-style: italic;
}

.sell-container .input_label2{
    font-size: 1.3rem;
}

.sell-container .input_input{
    font-size: 1.2rem;
    width: 30rem;
    border-radius: 30px;
}