.footer{
    color: white;
    padding: 30px 0 30px 15%;
    background-color: rgba(240,240,240,.8);
    /* transform: translateY(-50%); */
}

.footer .p{
    color: white;
}

.footer .input-group button{
    border-radius: 0 !important;
    border-end-end-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}